@import "_custom";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
$primary-color: white;
$bg: black;

#top_hero {
    background-image: url(https://res.cloudinary.com/dt9pwfpi5/image/upload/v1592504757/firsthero_-_Copy_gt1cdi.png);
    background-repeat: no-repeat;
    background-attachment: fix;
    background-position: right;
    margin-bottom: 30px;
}

.intro-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    margin: auto;
    margin-top: 180px;
}