<!--Header navigation bar-->
<header id="header">
    <ul class="logo">
      <li>
        <a href=".">FundMy<span class="lap">Laptop</span></a>
      </li>
    </ul>
    <ul class="navs">
      <li>
        <span class="home"><a href="#hero_section">Home</a></span>
      </li>
      <li><a href="#bottom_hero">About Us</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="login">
      <li>
        <span class="log"><a href="">Login</a></span>
      </li>
      <li>
        <span class="sign"><a href="#">Sign Up</a></span>
      </li>
    </ul>
  </header>