/* ---- base styles ----- */

body {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    background-image: url(../images/pinkgrey-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.checked {
    color: yellow;
    font-size: 0.875em;
}

.testimonies {
    display: flex;
    flex-direction: column;
}

/*-----shapes styles ----*/
.top-circle {
    position: absolute;
    top: -12px;
    left: -44px;
    width: 109px;
    height: 144px;
    background-color: transparent;
}

.bottom-triangle {
    position: absolute;
    bottom: -18px;
    left: -64px;
    width: 171px;
    height: 171px;
    transform: rotate(120deg);
    border-radius: 5.26904px;
    margin: 0;
    background-color: transparent;
}

.right-triangle {
    position: absolute;
    top: -59px;
    right: -17px;
    width: 171px;
    height: 171px;
    border-radius: 5.26904px;
    transform: rotate(-3deg);
    background-color: transparent;
}

.bottom-circle {
    position: absolute;
    bottom: -11px;
    right: -32px;
    width: 109px;
    height: 144px;
    background-color: transparent;
    margin: 0;
}

/* ---- Top card styles ----- */

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.top-card h1 {
    font-size: 2.5em;
    line-height: 2.5em;
    font-weight: bold;
    margin: 0;
}

.red-bar {
    background-color: #FB3F5C;
    width: 8%;
    padding-top: 8px;
}

.top-card p {
    font-size: 1em;
    line-height: 1.5em;
    width: 41%;
    text-align: center;
    margin: 30px 0 auto 0;
}

/* ---- 3 big boxes styles ----- */
.middle-card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 114px;
}

img {
    background-color: lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 23px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background: #FFFFFF;
    box-shadow: 0px 3.5px 3.5px rgba(187, 178, 178, 0.25);
    border-radius: 7px;
    margin: 0px 17px;
    padding: 18px;
    align-items: last baseline;
}

.flex-container q {
    font-family: 'Muli', sans-serif;
    font-size: 0.61em;
    line-height: 1.2em;
    width: 71%;
    margin: 0 auto;
    font-weight: 300;
    font-style: italic;
    padding-left: 7px;
}

.stars {
    align-self: center;
    width: 60%;
    padding-left: 30px;
}

span {
    font-size: 13px;
    line-break: 1.5em;
    font-weight: 600;
}

.flex-container p {
    font-size: 0.5em;
    line-height: 1.5em;
    font-family: 'Muli', sans-serif;
}

/* ---- Scroll bar styles ----- */
.bottom-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 90px 280px 90px 0;
}

.scroll-box {
    display: flex;
}

.scroll-box p {
    width: 37px;
    height: 37px;
    font-size: 1.5em;
    background-color: rgba(29, 46, 63, 0.6);
    margin-right: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.scroll-box p:last-of-type {
    background-color: #1D2E3F;
}

/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #292929;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


/*----------------------------------
    LARGE LAYOUT: 1920px
-----------------------------------*/

@media only screen and (min-width: 1920px) {}



/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-header {
        margin-top: 5px;
    }
    .is-sticky .navbar-header {
        margin-top: 2px;
    }
    ul#nav li a {
        padding: 30px 10px;
    }
    .is-sticky ul#nav li a {
        padding: 22px 10px;
    }
    .info-area {
        padding: 100px 0;
    }
    .feed-widget.twitter-feed ul li {
        margin-bottom: 41px;
    }


}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0;
    }
    .padding-top {
        padding-top: 80px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #eb484d;
        border-radius: 0;
        display: block !important;
    }
    .navbar-toggle .icon-bar {
        background: #eb484d none repeat scroll 0 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-header {
        border-bottom: 1px solid #eb484d;
        margin: 0;
        padding: 15px 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .is-sticky .navbar-header {
        margin: 0;
        padding: 5px 0;
    }
    .navbar-brand {
        margin-top: -2px;
        padding: 8px;
    }
    .is-sticky .navbar-brand {
        margin-top: -3px;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    /*-----------------*/
    .welcome-text {
        text-align: center;
    }
    .flex-v-center {
        display: inherit;
    }

    .portfolio-menu li {
        padding: 5px;
    }
    .single-team {
        margin-bottom: 30px;
    }
    .info-area {
        padding: 80px 0;
    }
    .intro-image {
        margin-bottom: 50px;
    }
    .intro-image img {
        width: 100%;
    }


    .single-price {
        margin-bottom: 30px;
    }
    .price-area .row > div:last-child .single-price {
        margin-bottom: 0;
    }
}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title {
        margin-bottom: 50px;
    }
    .area-title h2 {
        font-size: 28px;
    }
    .padding-top {
        padding-top: 50px;
    }
    .navbar-header {
        border-bottom: 1px solid #eb484d;
        margin: 0;
        padding: 15px 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand {
        margin-top: -3px;
        padding: 8px;
    }
    .is-sticky .navbar-brand {
        margin-top: -3px;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    .is-sticky .navbar-brand > img {
        max-width: 100%;
    }
    .is-sticky .menu-toggle.full {
        top: 18px;
    }
    /*-----------------*/
    .area-title {
        text-align: center;
    }
    .home-one .area-title h3 {
        letter-spacing: 2px;
    }
    .area-title .line {
        display: none;
    }
    .welcome-text {
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 26px;
        letter-spacing: 2px;
    }
    .welcome-text h4 {
        font-size: 18px;
        letter-spacing: 2px;
    }
    .home-button a {
        font-size: 14px;
    }
    .flex-v-center {
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        display: inherit;
    }
    .padding-100-50 {
        padding-bottom: 0;
        padding-top: 50px;
    }
    .padding-100-70 {
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .top-bar-area {
        display: none;
    }
    .welcome-single-slide {
        height: 450px;
        width: 100%;
    }
    .welcome-slider-area .owl-nav {
        display: none;
    }
    .single-service.right.mbzero {
        margin-bottom: 50px !important;
    }
    .service-image {
        margin-bottom: 50px;
    }
    .promo-content h2 {
        font-size: 26px;
    }
    .info-area {
        padding: 50px 0;
    }
    .footer-social-bookmark {
        padding: 30px 0;
    }
    .footer-social-bookmark .social-bookmark li a {
        margin: 5px;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title h2 {
        font-size: 40px;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
}

 /* CSS Variables -- Palette and Styles */
 :root {
    --primary-white: #ffffff;
    --primary-pink: #fb3f5c;
    --p-textgrey-color: #68747f;
    --h-textblack-color: #1d2e3f;
  }
  /* General Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    color: var(--p-textgrey-color);
    background-color: var(--primary-white);
    font-family: "DM Sans", sans-serif;
  }
  h1,
  p {
    font-style: normal;
  }
  h1 {
    font-weight: bold;
    color: var(--h-textblack-color);
  }
  p {
    font-family: DM Sans;
    font-weight: normal;
    font-size: 18.0755px;
    line-height: 29px;
  }

  hr {
    width: 124px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--primary-pink);
  }
  /* Class specific styles */

  .main {
    padding-top: 100px;
  }
  .helpdiv {
    padding-left: 137px;
    padding-right: 137px;
  }
  .helpdiv h1 {
    text-align: center;
    margin-bottom: 13px;
  }
  .helpdiv hr {
    margin-bottom: 101px;
  }
  .helpdiv .helpflex {
    display: flex;
    justify-content: space-between;
  }
  .helpdiv .helpflex .helploan {
    flex-basis: 47%;
    width: 47%;
  }
  .helpdiv .helpflex .helploan .helploan-box .pattern1 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -8%;
    right: 12%;
  }
  @media screen and (min-width: 1075px) and (max-width: 1256px) {
    .helpdiv .helpflex .helploan .helploan-box .pattern1 {
      bottom: -13%;
      right: 12%;
    }
  }
  @media screen and (min-width: 1257px) {
    .helpdiv .helpflex .helploan .helploan-box .pattern1 {
      bottom: -21%;
      right: 12%;
    }
  }
  .helpdiv .helpflex .helploan .helploan-box {
    box-shadow: 1px 2.5px 4px rgba(222, 208, 208, 0.3),
      inset 1px 2.5px 4px rgba(222, 208, 208, 0.3);
    padding: 45px;
    position: relative;
  }
  .helpdiv .helpflex .helploan .helploan-box h2,
  .helpdiv .helpflex .helpinvest .helpinvest-box h2 {
    font-weight: 500;
    font-size: 40px;
    color: #1d2e3f;
  }
  .helpdiv .helpflex .helploan .helploan-box p,
  .helpdiv .helpflex .helpinvest .helpinvest-box p {
    margin-bottom: 23px;
  }
  .helpdiv .helpflex .helpinvest .helpinvest-box .pattern2 {
    position: absolute;

    width: 100%;
    height: auto;
    top: -8%;
    right: -12%;
  }

  @media screen and (min-width: 1075px) and (max-width: 1256px) {
    .helpdiv .helpflex .helpinvest .helpinvest-box .pattern2 {
      top: -11%;
      right: -12%;
    }
  }
  @media screen and (min-width: 1257px) {
    .helpdiv .helpflex .helpinvest .helpinvest-box .pattern2 {
      top: -20%;
      right: -12%;
    }
  }
  .helpdiv .helpflex .helpinvest {
    flex-basis: 47%;
    width: 47%;
  }
  .helpdiv .helpflex .helpinvest .helpinvest-box {
    box-shadow: 1px 2.5px 4px rgba(222, 208, 208, 0.3),
      inset 1px 2.5px 4px rgba(222, 208, 208, 0.3);
    padding: 45px;
    padding-top: 108px;
    position: relative;
  }
  @media screen and (max-width: 1075px) {
    .helpdiv .helpflex .helpinvest .helpinvest-box {
      padding-top: 55px;
    }
  }
  .faqdiv {
    padding: 198px 221px 198px 221px;
  }
  .faqdiv .faq h1 {
    text-align: center;
  }
  .faqdiv .faq hr {
    margin-bottom: 56px;
    margin-top: 21px;
  }
  .testimoniesdiv {
    padding-left: 141px;
    padding-right: 141px;
  }
  .testimoniesdiv .testimonials {
    background-image: url(https://res.cloudinary.com/dcjxlbq4z/image/upload/v1592469191/hng%20fundmylaptop/Rectangle_363_vtruep.png);
    padding-top: 58px;
    padding-bottom: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .testimoniesdiv .testimonials h1 {
    text-align: center;
  }
  .testimoniesdiv .testimonials hr {
    margin-bottom: 33px;
    margin-top: 19px;
  }
  .testimoniesdiv .testimonials .subtitle {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18.0758px;
    text-align: center;
    color: #292e3d;
  }
  .testimoniesdiv .testimonials .testimonials-slider {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 1250px) {
    .testimoniesdiv .testimonials .testimonials-slider .box.first {
      display: none;
    }
  }
  @media screen and (max-width: 1250px) {
    .testimoniesdiv .testimonials .testimonials-slider .box.second {
      flex-basis: 50%;
      max-width: 50%;
    }
    .testimoniesdiv .testimonials .testimonials-slider .box.third {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .testimoniesdiv .testimonials .testimonials-slider .box {
    display: flex;
    flex-basis: 32%;
    max-width: 32%;
    padding: 17px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 3.53427px 3.53427px rgba(187, 178, 178, 0.25);
    border-radius: 6.18978px;
  }
  .testimoniesdiv .testimonials .testimonials-slider .profile {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 20%;
  }
  .testimoniesdiv .testimonials .testimonials-slider .profile div {
    align-self: center;
  }
  .testimoniesdiv .testimonials .testimonials-slider .profile img {
    width: 100%;
    height: auto;
  }
  .testimoniesdiv .testimonials .testimonials-slider .profile .name {
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 13.0539px;
    line-height: 27px;
  }
  .testimoniesdiv .testimonials .testimonials-slider .profile .date {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
  }
  .testimoniesdiv .testimonials .testimonials-slider .testimony {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .testimoniesdiv .testimonials .testimonials-slider .testimony p:before {
    content: "\201B";
  }
  .testimoniesdiv .testimonials .testimonials-slider .testimony p:after {
    content: "\2019";
  }
  .testimoniesdiv .testimonials .testimonials-slider .testimony p {
    margin-bottom: 10px;
  }
  .testimoniesdiv .testimonials .testimonials-slider .testimony .checked {
    color: #f3f56c;
  }
  .slider-arrows {
    text-align: right;
    margin-top: 30px;
  }
  .slider-arrows span {
    padding: 20px;
    background-color: rgba(29, 46, 63, 0.6);
    color: #ffffff;
  }
  .slider-arrows span:hover {
    background-color: #1d2e3f;
  }
  .impactdiv {
    padding-left: 141px;
    padding-right: 141px;
  }
  .impactdiv .impact {
    background-image: url(https://res.cloudinary.com/dcjxlbq4z/image/upload/v1592477112/hng%20fundmylaptop/undraw_connected_world_wuay_1_yxaa6i.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
  }
  .impactdiv .impact h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: rgba(29, 46, 63, 0.8);
  }

  .impactdiv .impact .counter {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 98px;
    text-align: center;

    color: #fb3f5c;
  }
  .impactdiv .impact div {
    display: flex;
    justify-content: center;
  }
  .impactdiv .impact div .each {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
  }

  /* UI Elements */

  /*Medium Pink Button*/
  a.medium-buttons {
    display: inline-block;
    background-color: var(--primary-pink);
    padding: 0.9em 1.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--primary-white);
    text-align: center;
    transition: all 0.2s;
    border-radius: 10px;
  }
  a.medium-buttons:hover {
    color: #000000;
    background-color: #ffffff;
  }
  @media all and (max-width: 30em) {
     a.medium-buttons {
      display: block;
      margin: 0.4em auto;
    }
  }

  /* FAQ Accordion */
  /* Style the element that is used to open and close the accordion class */
  p.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    border: 1px solid #444855;
    box-sizing: border-box;
    border-radius: 10px;
  }

  /* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  p.accordion.active,
  p.accordion:hover {
    background-color: var(--primary-pink);
    color: var(--primary-white);
  }

  /* Unicode character for "greater" sign (>) */
  p.accordion:after {
    content: "\003E";
    font-size: 50px;
    color: #444855;
    float: right;
    margin-left: 5px;
  }

  /* Unicode character for "minus" sign (-) */
  p.accordion.active:after {
    content: "\2212";
  }

  div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 10px;
  }

  div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  }