<template id="blog-listings">
  <div class="blog">
    <div class="wide-container">
      <h2 class="section-title">Our Blog</h2>
      <div class="card-deck">
        <a href="#" data-navigo="">
          <div class="card">
            <div class="card-img">
              <img
                src="https://res.cloudinary.com/udemic/image/upload/v1592652954/sample/fundmylaptop/fundmylaptop/fundmylaptop-blog-img-1_scmlpi.jpg"
                alt="girl with laptop"
              />
            </div>
            <div class="card-content">
              <pre>BY ADMIN AUGUST 20, 2020.  DESIGNER</pre>
              <h4>HOW I DOT FUNDED TO GET A LAPTOP FROM THIS PLATFORM</h4>
              <p>
                Voluptatibus repudiandae mollitia eveniet provid ent
                consectetur adipisicing elit. Officia dolore, quo quos nihil
                recusandae delectus repudiandae o
              </p>
              <button class="fml-btn">View More</button>
            </div>
          </div>
        </a>
        <a href="#" data-navigo="">
          <div class="card">
            <div class="card-img">
              <img
                src="https://res.cloudinary.com/udemic/image/upload/v1592652955/sample/fundmylaptop/fundmylaptop/fundmylaptop-blog-img-3_aod4wb.jpg"
                alt="apple ipad pro"
              />
            </div>
            <div class="card-content">
              <pre>BY ADMIN AUGUST 20, 2020.  DESIGNER</pre>
              <h4>HOW I DOT FUNDED TO GET A LAPTOP FROM THIS PLATFORM</h4>
              <p>
                Voluptatibus repudiandae mollitia eveniet provid ent
                consectetur adipisicing elit. Officia dolore, quo quos nihil
                recusandae delectus repudiandae o
              </p>
              <button class="fml-btn">View More</button>
            </div>
          </div>
        </a>
        <a href="#" data-navigo="">
          <div class="card">
            <div class="card-img">
              <img
                src="https://res.cloudinary.com/udemic/image/upload/v1592652954/sample/fundmylaptop/fundmylaptop/fundmylaptop-blog-img-2_knyidn.jpg"
                alt=" outdoor using laptop"
              />
            </div>
            <div class="card-content">
              <pre>BY ADMIN AUGUST 20, 2020.  DESIGNER</pre>
              <h4>HOW I DOT FUNDED TO GET A LAPTOP FROM THIS PLATFORM</h4>
              <p>
                Voluptatibus repudiandae mollitia eveniet provid ent
                consectetur adipisicing elit. Officia dolore, quo quos nihil
                recusandae delectus repudiandae o
              </p>
              <button class="fml-btn">View More</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
